#navbar {
  position: fixed;
  top: 0;
  transition: top 0.3s;
  z-index: 4;
  height: $navbar-height;
  width: 100%;
  background-color: $menu-bar-color;
  display: flex;
  align-items: center;

  &.navbar-hide {
    top: calc(0px - $navbar-height);
  }

  .navbar-inner {
    width: 100%;
    position: relative;

    .show-main-menu-link {
      position: absolute;
      right: 15px;
      top: 0;
      padding: 5px;

      #main-menu-icon {
        height: 50px;
        width: 50px;
        cursor: pointer;

        #top-line,
        #middle-line,
        #bottom-line,
        #background-circle {
          transition: all 0.3s;
        }

        &.close-menu {
          #middle-line {
            opacity: 0;
          }

          #top-line {
            transform: rotate(45deg) translateX(30px) translateY(-45px);
            stroke: white;
          }

          #bottom-line {
            transform: rotate(-45deg) translateX(-75px) translateY(0px);
            stroke: white;
          }

          #background-circle {
            fill: black;
          }
        }

        line {
          stroke: black;
        }
      }
    }
  }
}

.navbar-link {
  font-weight: bold;
  cursor: pointer;
  display: inline;
  margin: 10px;
  padding: 10px;
  position: relative;
  top: 0;
  font-size: $medium-text;
  transition: top ease 0.1s;

  &:hover {
    color: white;
    top: -2px;
  }
}

#navbar-padding {
  height: $navbar-height;
  margin-bottom: 10px;
}
