#navbar {
  position: fixed;
  top: 0;
  transition: top 0.3s;
  z-index: 2;
  height: $navbar-height;
  width: 100%;
  background-color: $menu-bar-color;
  display: flex;
  align-items: center;

  &.navbar-hide {
    top: calc(0px - $navbar-height);
  }

  .navbar-inner {
    width: 100%;
    position: relative;

    .navbar-link {
      font-weight: bold;
      cursor: pointer;
      display: inline;
      margin: 10px;
      padding: 10px;
      position: relative;
      top: 0;
      font-size: $medium-text;
      transition: top ease 0.1s;

      &:hover {
        color: white;
        top: -2px;
      }
    }

    .show-main-menu-link {
      position: absolute;
      right: 0;
      top: 20px;
    }
  }
}

#navbar-padding {
  height: $navbar-height;
  margin-bottom: 10px;
}
