<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" href="tomschafer_logo.ico" />
  <meta name="theme-color" content="#212b53" />
  <meta name="description" content="My personal website." />
  <link rel="apple-touch-icon" href="tomschafer_logo_512.png" />
  <link rel="manifest" href="manifest.json" />

  <link href="styles.css" rel="stylesheet" />
  <link href="code-theme.css" rel="stylesheet" />

  <title>{% title %}</title>
</head>

<body>
  <header>
    <a href="index.html">Tom Schafer</a>
  </header>

  {% body %}
</body>

</html>