@import "./shared-vars.scss";

// Define CSS Variables for Colors
$color-alert: #d3b3ff;
$color-annotation: #acc7ff;
$color-error: #ff6666;
$color-operator: #999999;
$color-light-green: #98fb98;
$background-dark: var(--bg-dark);

/* Base styles for code blocks */
pre>code.sourceCode {
  white-space: pre;
  position: relative;

  >span {
    line-height: 1.25;

    &:empty {
      height: 1.2em;
    }
  }
}

.sourceCode {
  overflow: visible;

  >span {
    color: inherit;
    text-decoration: inherit;
  }
}

div.sourceCode {
  background-color: $bg-dark !important;
  margin: 1em 0;
  padding: 2em;
  background-color: $background-dark;
  border-radius: 4px;

  code {
    padding: 0;
  }

  @media screen and (max-width: $width-small) {
    padding: 1em;
  }

  @media screen {
    overflow: auto;
  }
}

pre.sourceCode {
  margin: 0;
}

@media print {
  pre>code.sourceCode {
    white-space: pre-wrap;

    >span {
      text-indent: -5em;
      padding-left: 5em;
    }
  }
}

code {
    background-color: $bg-dark;
    padding: 3px 5px;
    border-radius: 2px;
}

/* Numbering for source code lines */
pre.numberSource {
  code {
    counter-reset: source-line 0;

    >span {
      position: relative;
      left: -4em;
      counter-increment: source-line;

      >a:first-child::before {
        content: counter(source-line);
        position: relative;
        left: -1em;
        text-align: right;
        vertical-align: baseline;
        border: none;
        display: inline-block;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        padding: 0 4px;
        width: 4em;
        color: #fff;
      }
    }
  }

  margin-left: 3em;
  border-left: 1px solid #fff;
  padding-left: 4px;

  @media screen {
    pre>code.sourceCode>span>a:first-child::before {
      text-decoration: underline;
    }
  }
}

/* Alert */
code span.al {
  font-weight: bold;
  color: $color-alert;
}

/* Annotation */
code span.an {
  font-weight: bold;
  font-style: italic;
  color: $color-annotation;
}

/* Attribute */
code span.at {
  color: $color-alert;
}

/* BaseN */
code span.bn {
  color: $color-annotation;
}

/* BuiltIn */
code span.bu {
  color: $color-alert;
}

/* ControlFlow */
code span.cf {
  color: $color-annotation;
  font-weight: bold;
}

/* Char */
code span.ch {
  color: $color-alert;
}

/* Constant */
code span.cn {
  color: $color-annotation;
}

/* Comment */
code span.co {
  color: $color-alert;
  font-style: italic;
}

/* CommentVar */
code span.cv {
  color: $color-alert;
  font-weight: bold;
  font-style: italic;
}

/* Documentation */
code span.do {
  color: $color-annotation;
  font-style: italic;
}

/* DataType */
code span.dt {
  color: $color-alert;
}

/* DecVal */
code span.dv {
  color: $color-annotation;
}

/* Error */
code span.er {
  color: $color-error;
  font-weight: bold;
}

/* Extension */
code span.ex {}

/* Float */
code span.fl {
  color: $color-annotation;
}

/* Function */
code span.fu {
  color: $color-alert;
}

/* Import */
code span.im {
  color: $color-alert;
  font-weight: bold;
}

/* Information */
code span.in {
  color: $color-annotation;
  font-weight: bold;
  font-style: italic;
}

/* Keyword */
code span.kw {
  color: $color-alert;
  font-weight: bold;
}

/* Operator */
code span.op {
  color: $color-operator;
}

/* Other */
code span.ot {
  color: $color-annotation;
}

/* Preprocessor */
code span.pp {
  color: $color-alert;
}

/* SpecialChar */
code span.sc {
  color: $color-annotation;
}

/* SpecialString */
code span.ss {
  color: $color-alert;
}

/* String */
code span.st {
  color: $color-annotation;
}

/* Variable */
code span.va {
  color: $color-alert;
}

/* VerbatimString */
code span.vs {
  color: $color-annotation;
}

/* Warning */
code span.wa {
  color: $color-alert;
  font-weight: bold;
  font-style: italic;
}

/* Additional light green usage */
code span.lg {
  color: $color-light-green;
}
