:root {
  --bg-dark: #1e2235;
  --bg-med: #5E548E;
}

html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  color: white;
  font-family: monospace;
  overflow-y: scroll;
  margin: 0;
  padding: 0;
  background: var(--bg-dark);
  background-image: linear-gradient(135deg, var(--bg-med), var(--bg-dark));
  background-attachment: fixed;
  margin: auto;
  padding: 20px 40px;
  max-width: 800px;
}

header {
  padding: 30px 0;
}

p {
  line-height: 150%;
}

header a {
  font-weight: bold;
  color: white;
  font-size: xxx-large;
  text-decoration: none;
}

.intro {
  margin: 50px 0;
}

.links {
  margin: 50px 0;
}

.links p {
  display: flex;
}

.links a {
  color: white;
  margin: auto 0;
}

.links ul {
  list-style-type: none;
  padding: 0;
}

.links li {
  display: flex;
  margin: 12px 0;
  cursor: pointer;
}

.links .image-background {
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  margin-right: 10px;
  width: 25px;
  height: 25px;
}

.links .linkedin-icon {
  border-radius: 4px;
}

.links .github-icon {
  border-radius: 50%;
}

.links img {
  width: 20px;
}

.blog-image {
  width: 100%;
}

.post-preview {
  display: flex;
  flex-direction: row;
  background: var(--bg-dark);
  margin: 20px 0;
  padding: 10px;
  border-radius: 4px;
  gap: 20px;
  cursor: pointer;
}

.post-preview img {
  width: 30%;
  min-width: 30%;
  height: 150px;
  object-fit: cover;
}

.post-preview .post-info {
  display: flex;
  flex-direction: column;
}

.post-preview p {
  margin: 10px 0 0 0;
}

.post-preview a {
  font-size: large;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.date-published {
  opacity: 50%;
  font-style: italic;
}