@mixin max-width-container {
  width: 100%;
  max-width: 800px;
  margin: 0 20px;
}

@mixin centre-column-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: $extra-large-text;
}

h2 {
  font-size: $large-text;
}

h3 {
  font-size: $medium-text;
}

.App {
  @include centre-column-flex;
  min-height: 100vh;

  .App-header {
    @include max-width-container;
    @include centre-column-flex;
    font-size: 22px;
    color: white;
    background-color: $background-color;
    padding: 10px;
    margin-bottom: 50px;

    h1 {
      font-size: $large-text;
    }
  }

  .experience-container {
    @include max-width-container;
    @include centre-column-flex;
    color: white;
    padding-bottom: 50px;

    .experience-box {
      padding: 20px 0;
      width: 100%;
      text-align: center;

      &:hover {
        .experience-box-inner {
          $scale-factor: 1.05;
          transform: scale($scale-factor);
          background-color: $card-color-hover !important;
          transition: all 0.1s;
        }
      }

      .experience-box-inner {
        @include centre-column-flex;
        background-color: $card-color;
        padding: 20px 50px;
        border-radius: 10px;
        cursor: pointer;

        h1, h2, h3 {
          margin: 10px;
        }

        .description-text {
          display: none;
        }

        &.active {
          background-color: $card-color-selected;

          .description-text {
            display: block;
            text-align: left;
            line-height: 170%;
          }
        }

        .logo-container {
          width: 80px;
          height: 80px;
          background-color: white;
          border-radius: 10px;
          overflow: hidden;
          margin: 15px auto;
          padding: 10px;

          img {
            height: 100%;
            width: 100%;
            object-fit: contain;
          }
        }
      }
    }
  }
}
