.App {
  @include centre-column-flex;
  color: $text-color;
  min-height: 100vh;

  .experience-container {
    @include centre-column-flex;
    padding-bottom: 30px;

    .education-subtitle {
      width: 90%;
      text-align: center;
    }

    .info-box {
      padding: 12px 0;
      width: 100%;
      text-align: center;

      &--small {
        @extend .info-box;
        padding: 7px 0;
      }

      &.hover-effect {
        &:hover {
          .info-box-inner {
            $scale-factor: 1.05;
            transform: scale($scale-factor);
            background-color: $card-color-hover !important;
            transition: all 0.1s;
            color: white;
          }

          .read-more-text {
            font-weight: bold;
          }
        }
      }

      .info-box-inner {
        @include centre-column-flex;
        background-color: $card-color;
        border-radius: 5px;
        padding: 20px 50px;

        @media screen and (max-width: $mobile-breakpoint) {
          padding: 20px;
        }

        &.pointer {
          cursor: pointer;
        }

        h1,
        h2,
        h3,
        p {
          margin: 10px;
        }

        .description-text {
          text-align: left;
          line-height: 170%;
        }

        &.active {
          background-color: $card-color-selected;
        }

        .logo-container {
          width: 80px;
          height: 80px;
          min-width: 80px;
          min-height: 80px;
          background-color: white;
          border-radius: 5px;
          overflow: hidden;
          margin: 15px 0;
          padding: 10px;

          img {
            height: 100%;
            width: 100%;
            object-fit: contain;
          }

          &--small {
            @extend .logo-container;
            width: 40px;
            height: 40px;
            min-width: 40px;
            min-height: 40px;
          }
        }

        &--left {
          @extend .info-box-inner;
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          text-align: left;
          padding: 10px 30px;

          @media screen and (max-width: 400px) {
            flex-direction: column;
            text-align: center;
          }

          .logo-container {
            margin-right: 20px;
          }
        }
      }
    }
  }

  .links-container {
    display: flex;
    flex-direction: row;

    .individual-link {
      @include centre-column-flex;
      $individual-link-margin: 10px;
      margin: $individual-link-margin;
      padding: 20px;
      text-decoration: none;
      color: white;

      &:hover {
        margin-top: calc($individual-link-margin - 10px);
        $scale-factor: 1.03;
        transform: scale($scale-factor);
        transition: all 0.1s;
      }

      .link-image {
        $link-image-size: 70px;
        width: $link-image-size;
        height: $link-image-size;
        min-width: $link-image-size;
        min-height: $link-image-size;
        background-color: white;
        border-radius: 15%;
        border: solid 5px white;

        &.circle {
          border-radius: 50%;
        }
      }
    }
  }

  .about-me-text {
    font-size: $medium-text;
    line-height: 150%;
    font-weight: 500;
    letter-spacing: 0.5px;
    padding-top: 10px;
  }

  .about-me-image {
    width: 80%;
    margin: 40px 20px 30px 20px;
  }
}
