@mixin max-width-container {
  width: 100%;
  max-width: 800px;
  margin: 0 20px;
}

@mixin centre-column-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin centre-row-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.centre-row-flex {
  @include centre-row-flex;
}

h1 {
  font-size: $extra-large-text;
}

h2 {
  font-size: $large-text;
}

h3 {
  font-size: $medium-text;
}

header {
  width: 100%;
}

.max-width-container {
  @include max-width-container;
}

.margin-top-none {
  margin-top: 0;
}

.margin-top-10 {
  margin-top: 10px;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-bottom-none {
  margin-bottom: 0;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

.overflow-hidden {
  overflow: hidden;
}

.margin-lr-auto {
  margin-left: auto;
  margin-right: auto;
}

.desktop-only {
  visibility: visible;

  @media screen and (max-width: $mobile-breakpoint) {
    visibility: hidden;
  }
}

.mobile-only {
  visibility: hidden;

  @media screen and (max-width: $mobile-breakpoint) {
    visibility: visible;
  }
}
