$deeper-blue: #212b53;
$grey: #222222;

$card-color: $deeper-blue;
$menu-bar-color: lighten($card-color, 5%);
$background-color: darken($card-color, 10%);
$card-color-hover: lighten($card-color, 8%);
$card-color-selected: lighten($card-color, 5%);

$small-text: 17px;
$medium-text: 20px;
$large-text: 30px;
$extra-large-text: 40px;

$navbar-height: 80px;
$text-color: rgb(230, 230, 230);

$mobile-breakpoint: 800px;
